:root {
  --light: rgba(0,0,0,0.1);
  --light2: rgba(0,0,0,0.5);
  --main: rgba(0,0,0,0.7);
  --ubcblue: rgb(0, 33, 70);
  --ubcwhite: rgb(255, 255, 255);
}

body,html {
  margin: 0px;
  font-family: 'Open Sans', sans-serif;
  font-size: 11pt;
  color: var(--main);
}

a {
  text-decoration: none;
  color: var(--main);
  font-weight: bold;
}

a:hover {
  color: var(--light2);
}

ul {
  padding-left: 2em;
}

h3, h4 {
  margin: 0px;
}

#header {
  grid-row: 1;
  grid-column-start: 1;
  grid-column-end: 3;
  background-color: var(--ubcblue);
  color: white;
  position: relative;
}

#header h2 {
  margin: 0px;
  padding-left: 10px;
  position: absolute;
  top: 50%;
  translate: 0% -50%;
}

#dashboard {
  display: grid;
  grid-template-columns: 35% 65%;
  grid-template-rows: 5vh max(275px,38vh) 57vh;
  column-gap: 0px;
  row-gap: 0px;
  width: max(100vw,1200px);
  background-color: white;
}

#dashboard > div {
  background-color: white;
}

#program-track-nav {
  grid-row: 2;
  grid-column: 1;
  margin: 10px;
  padding: 10px;
  border: 1px solid var(--light);
  border-radius: 2px;
  overflow: auto;
}

#program-track-nav div {
  padding: 2px 8px 3px 8px;
  border: 1px solid white;
  border-radius: 2px;
}

#program-track-nav div.track {
  margin-left: 12px;
}

#program-track-nav div:hover {
  cursor: default;
  background-color: var(--light);
}

#program-track-nav div.highlight {
  border-color: var(--light2);
}

#course-info {
  grid-row: 3;
  grid-column: 1;
  margin: 0px 10px 10px 10px;
  padding: 15px 15px 10px 15px;
  overflow: auto;
  border: 1px solid var(--light);
  border-radius: 2px;
  opacity: 1;
}

#course-map {
  grid-column: 2;
  grid-row-start: 2;
  grid-row-end: 4;
  border: 1px solid var(--light);
  border-radius: 2px;
  margin: 10px 10px 10px 0px;
  padding: 10px;
}